:root {
  --color-primary: #3b82f6;
  --color-secondary: #9333ea;
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;
  --color-background: #ffffff;
  --color-text: #111827;
}

html.dark {
  --color-primary: #60a5fa;
  --color-secondary: #c084fc;
  --color-success: #22c55e;
  --color-warning: #fbbf24;
  --color-danger: #f87171;
  --color-background: #111827;
  --color-text: #f9fafb;
}
